.profile-pic {
	width: 50%;
}
.card-footer {
	background-color: silver;
	padding-bottom: 0%;
	padding-top: 0%;
}
.card {
	background-color: whitesmoke;
}
.card-title {
	text-align: center;
}
.ref {
	text-align: center;
}
.html {
	background-color: hotpink;
}
